@use "../abstracts" as *;
@use "../base/typography" as typo;

.api__form {
  position: relative;
  padding: 0 24px;
  z-index: 1;
  @include respond(small, min) {
    padding: 0 32px;
  }
}

.api__form::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 80px;
  background-color: $clr-statistics-bg;
  z-index: 0;
}

.api__form > * {
  position: relative;
  z-index: 1;
}

.result {
  margin-top: 24px;
  display: grid;
  gap: 24px;
}

.shortened__urls {
  background-color: $clr-white;
  border-radius: 5px;
  display: grid;
  gap: 16px;
  padding: 15px 16px;
  position: relative;
  @include respond(small, min) {
    padding: 11px 34px;
  }
  @include respond(large, min) {
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 21px 28px;
    gap: 24px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }
}

.shortened__urls::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 49px;
  left: 0;
  background-color: hsla(257, 7%, 63%, 0.25);
  pointer-events: none;
  @include respond(large, min) {
    display: none;
  }
}

.original__url {
  @include text-preset(typo.$text-preset-7-medium);
  color: $clr-heading;
  display: inline-block;
  max-width: 295px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  @include respond(small, min) {
    @include text-preset(typo.$text-preset-5-medium);
    max-width: 500px;
  }
  @include respond(medium, min) {
    max-width: 636px;
  }
  @include respond(large, min) {
    max-width: 670px;
  }
}

.short__link {
  outline: none;
  @include text-preset(typo.$text-preset-7-medium);
  color: $clr-accent;
  justify-self: start;
  @include respond(small, min) {
    @include text-preset(typo.$text-preset-5-medium);
  }
  @include respond(large, min) {
    justify-self: end;
    text-align: right;
  }
}

.short__link:focus-visible {
  outline-offset: 4px;
  outline: 2px solid $clr-accent;
  border-radius: 4px;
}
