@use "../abstracts" as *;
@use "../base/typography" as typo;

.statistics {
  background-color: $clr-statistics-bg;
  padding: 80px 0 88px 0;
  position: relative;
  @include respond(small, min) {
    padding: 94px 0 80px 0;
  }
  @include respond(large, min) {
    padding: 88px 0 96px 0;
  }
}

.statistics__intro {
  padding: 0 24px;
  display: grid;
  gap: 24px;
  text-align: center;
  @include respond(small, min) {
    @include text-preset(typo.$text-preset-6-medium);
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.statistics__articles-container {
  padding: 0 24px;
  max-width: 398px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  align-items: start;
  gap: 92px;
  position: relative;
  @include respond(small, min) {
    padding: 0;
    max-width: 350px;
    margin-top: 100px;
  }
  @include respond(large, min) {
    max-width: 1110px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.statistics__articles-container::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: $clr-accent;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  @include respond(large, min) {
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    transform: unset;
    transform: translateY(-50%);
  }
}
