@use "../abstracts" as *;
@use "../base/typography" as typo;

.shortener {
  display: grid;
  gap: 16px;
  background-color: $clr-pattern-bg;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 10px;
  align-items: start;
  @include respond(medium, min) {
    background-image: url("../images/bg-shorten-desktop.svg");
    grid-template-columns: 1fr auto;
    padding: 56px 64px 50px 64px;
    max-width: 704px;
    width: 100%;
    margin: 0 auto;
  }
  @include respond(large, min) {
    padding: 56px 64.5px 50px 64.5px;
    max-width: 1110px;
  }
}

input {
  @include text-preset(typo.$text-preset-7-medium);
  padding: 8px 16px;
  border-radius: 5px;
  border: 3px solid $clr-white;
  outline: none;
  color: $clr-input;
  @include respond(small, min) {
    @include text-preset(typo.$text-preset-5-medium);
    border-radius: 10px;
    padding: 13px 32px;
  }
}

input:focus-visible {
  outline-offset: 4px;
  outline: 2px solid $clr-accent;
}

input::placeholder {
  color: $clr-input;
  opacity: 0.5;
}

.input__group {
  display: grid;
  gap: 8px;
}

.input__error {
  border: 3px solid $clr-error;
}

.input__error::placeholder {
  color: $clr-error;
}

.error__message {
  color: $clr-error;
  @include text-preset(typo.$text-preset-7-italic-medium);
  font-style: italic;
}
