@use "../abstracts" as *;
@use "../base/typography" as typo;

.primary__nav {
  display: none;
  outline: none;
  @include respond(large, min) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.primary__nav.active {
  display: block;
  position: fixed;
  width: calc(100% - 48px);
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $clr-mobile-menu-bg;
  padding: 37px 16px;
  border-radius: 10px;
  @include respond(small, min) {
    padding: 37px 52px;
    width: calc(100% - 64px);
  }
}

.header__navigation {
  display: grid;
  gap: 32px;
  list-style: none;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-bottom: 64px;
  @include respond(large, min) {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 0;
  }
}

.header__navigation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsla(257, 7%, 63%, 0.25);
  bottom: 32px;
  left: 0;
  pointer-events: none;
  @include respond(large, min) {
    display: none;
  }
}

.header__nav-buttons {
  display: grid;
  gap: 24px;
  list-style: none;
  text-align: center;
  @include respond(large, min) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.nav__link,
.login__btn {
  @include text-preset(typo.$text-preset-6-bold);
  color: $clr-white;
  text-decoration: none;
  transition: color 0.3s ease;
  @include respond(large, min) {
    color: $clr-header-links;
    @include text-preset(typo.$text-preset-7-bold);
  }
}

.nav__link:hover,
.login__btn:hover {
  @include respond(large, min) {
    color: $clr-header-links-hover;
  }
}

.nav__link:focus-visible,
.login__btn:focus-visible {
  outline-offset: 4px;
  outline: 2px solid $clr-accent;
  border-radius: 4px;
}

.footer__nav {
  list-style: none;
  display: grid;
  gap: 8px;
}

.footer__link {
  color: $clr-footer-links;
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: $clr-accent;
}

.footer__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid $clr-accent;
  border-radius: 2px;
}

.social {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 24px;
  @include respond(large, min) {
    justify-self: end;
  }
}

.social__link {
  color: $clr-white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: color 0.3s ease;
}

.social__link:hover {
  color: $clr-accent;
}

.social__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid $clr-accent;
  border-radius: 4px;
}
