// COLOR PALETTE
$white: #ffffff;
$black: #000000;
$red400: #f46363;
$blue300: #9ae3e3;
$blue400: #2bd0d0;
$purple50: #eff1f7;
$purple900: #4b3f6b;
$purple950: #3a3054;
$gray400: #bfbfbf;
$gray500: #9e9aa8;
$gray900: #34313d;
$gray950: #232127;

// SEMANTIC VALUES
$clr-main-bg: $white;
$clr-error: $red400;
$clr-footer-bg: $gray950;
$clr-statistics-bg: $purple50;
$clr-body-text-light: $gray500;
$clr-footer-links: $gray400;
$clr-header-links: $gray500;
$clr-header-links-hover: $gray900;
$clr-white: $white;
$clr-heading: $gray900;
$clr-accent: $blue400;
$clr-btn-hover: $blue300;
$clr-pattern-bg: $purple950;
$clr-mobile-menu-bg: $purple950;
$clr-btn-copied: $purple950;
$clr-input: $gray900;
